VITE_HELIO_MAINNET_RPC_PRIMARY_URL=
VITE_HELIO_MAINNET_RPC_PRIMARY_WS_URL=
VITE_HELIO_MAINNET_RPC_FALLBACK_URL=
VITE_HELIO_DEVNET_RPC_PRIMARY_URL=
VITE_HELIO_JUPITER_API_KEY=
VITE_HELIO_JUPITER_API_BASE_URL=https://api.jup.ag
VITE_HELIO_JUPITER_API_FALLBACK_URL=https://lite-api.jup.ag
VITE_HELIO_BLOWFISH_API_KEY=
VITE_HELIO_BLOWFISH_API_BASE_URL=https://api.blowfish.xyz
